h1{ color: #A22F0A;}
h2{ color: #FF1E1E;}
h3{ color: #256D85;}
h4{ color: #9C2C77;}
h5{ color: #FCFFB2;}
h6{ color: #000000;}
p{ color:  #A30202;}
body {
	background-color: #AAC4FF;
	color: #555555
	}
